@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nanum+Gothic+Coding&display=swap');
.active {
    box-shadow: 0 0 15px lightgreen;
}

.account {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 20px;
}

.account form {
    display: grid;
    grid-template-columns: 320px;
    justify-content: center;
}

.account form input{
    margin: 10px;
}

.bagIcon {
    width: 80%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

body {
    background-color: #393e46;
}

.button {
    text-align: center;
    background-color: #F58B20;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    font-weight: bolder;
    margin: auto;
}

.accountButton {
    width: 100%;
    max-width: 320px;
    margin-top: 30px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #b56618;
}

.customSpec {
    margin-top: 50px;
}

.customActive {
    padding-top: 15px;
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
}

.customActive h3 {
    text-align: center;
    color: #dfe2e2;
}
.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    padding: 90px 20;
}

.hidden {
    display: none;
}

.header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(57, 62, 70, 0.5)), url(./assets/images/IMG_7651.JPG);
    height: 650px;
    text-align: center;
    color: #dfe2e2;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Bebas Neue', cursive;
    padding-top: 15px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header h1 {
    float: left;
    margin-left: 10px;
}

.header h3 {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    color: #1cb3c8;
}

.header h3:hover {
    text-decoration: underline;
}

.imageUpload {
    font-size: larger;
    display: grid;
    grid-template-columns: auto auto auto;
}

.imageUpload h3 {
    grid-column: 1/4;
}

.imageUploadButton {
    grid-column: 2/3;
    width: 90%;
    padding-top: 16px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* .message {
    padding-top: 12px;
    font-size: larger;
    min-width: 225px;
    width: 80%;
    height: auto;
    background-color: #3c415e;
    display: inline-block;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    text-align: center;
    color: #dfe2e2;
    margin: 30px;
    margin-left: 10%;
} */

.minimized {
    font-size: larger;
    min-width: 225px;
    width: 80%;
    height: auto;
    background-color: #3c415e;
    display: inline-block;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    text-align: center;
    color: #dfe2e2;
    margin: 20px;
    margin-left: 10%;    
}

.results {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.results button{
    width: 90%;
}

.scaleInput button {
    width: 25%;
    margin: auto;
}

.scaleInputCanvas {
    margin-top: 20px;
    margin-bottom: 0px;
}

.scaleInputForm {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin: auto;
}

.scaleInput input{
    grid-column: 1/2;
    height: 40px;
    width: 90%;
    min-width: 200px;
    margin: auto;
}

.scaleInput button {
    width: 90%;
}

.shapeInputGrid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.shapeInputGrid h3 {
    grid-column: 1/3;
}

.shapeInputCanvas {
    margin-top: 20px;
    grid-column: 1/3;
    margin: auto;
}

.shapeInputButton {
    width: auto;
    margin: auto;
    margin-bottom: 20px;
}

.styleContainer {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
  }
  
.styleItem {
    padding-top: 10px;
    text-align: center;
    max-width: 250px;
    background-color: #3c415e;
    border: 10px solid #1cb3c8;
    color: #F58B20;
    border-radius: 5px;
    height: auto;
    margin: auto;
    font-family: 'Nanum Gothic Coding', monospace;
}

.styleItem h4 {
    
    font-size: xx-large;
}

.styleItem:hover {
    box-shadow: 0 0 15px white;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .styleItem {
        height: 100%;
    }
    .styleItem h4{
       font-size: small;
    }

    .scaleInput input{
        grid-column: 1/3;
        height: 40px;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    .scaleInputForm {
        grid-template-columns: 1fr 1fr;
    }

    .scaleInput button{
        min-width: 100px;
        width: 90%;
    }

    .shapeInputButton {
        min-width: 0px;
        width: 90%;
    }
}